@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$dark: #000;

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a {
	text-decoration: none;
	font-size: 0.9rem;

	&:hover {
		color: gray !important;
	}

}



.nav-link {
	color: #fff;
	text-transform: uppercase;
	position: relative;
}

.active::before {
	content: "";
	width: 25%;
	position: absolute;
	background: rgb(244, 67, 54);
	height: 5px;
	border-radius: 5px;
	left: 50%;
	transform: translate(-50%);
	bottom: 0;
}

.navbar-dark {
	background-color: $dark;
}

.banner {
	height: 60vh;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}